@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin: auto;
    margin-top: 41px;
}

.footerNeedNum {
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #FF992E;
}

.footerNeed {
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.00);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: -0.2px;
}

.footerNum {
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.00);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: -0.2px;
}

.footerLink {

    display: flex;
    width: 100%;
    gap: 30px;
    background: #212020;
    height: 200px;
    align-items: center;
 
}

.footerList3 {
    display: flex;
    flex-direction: column;
    width: 262.5px;
    height: 67.19px;
    margin-left: 30px;
}

.listItem3 {
    list-style: none;
}

.itemLink3 {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.00);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.36px;
    text-transform: capitalize;
}

.sendLink {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-left: 130px;
}

.linkPara {
    color: #FF992E;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.00);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
}

.sendItem {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sendItem input {
    display: flex;
    padding: 14px 16px 15px 17px;
    align-items: flex-start;

    border-radius: 4px 0px 0px 4px;
    border-top: 1px solid #E2E8F0;
    border-bottom: 1px solid #E2E8F0;
    border-left: 1px solid #E2E8F0;
    background: #FFF;
}

.sendItem button {
    display: flex;
    padding: 15px 19px 12.5px 21px;
    align-items: flex-start;

    border: none;
    border-radius: 0px 4px 4px 0px;
    background: #FF992E;
}

.footerEnd {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background: #191919;
}

.endItem1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.endImg {
    width: 113px;
    height: 33px;
    flex-shrink: 0;
}

.endPara {
    color: rgba(255, 255, 255, 0.50);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.00);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.endItem {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

@media screen and (max-width: 768px) {
    .footer {
        width: 768px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footerLink {
        width: 768px;
        height: 332px;
        display: flex;

        align-items: flex-start;
        justify-content: flex-start;

        
    }

    .footerList3 {
        width: 738px;
        margin-top: 50px;

    }

    .sendLink {
        width: 748px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;

    }

    .sendItem input {
        display: flex;
        padding: 14px 16px 15px 17px;
        align-items: flex-start;
    }

    .footerEnd{
        width: 768px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}